ion-item {
    --padding-start: 10px;
    --inner-padding-end: 10px;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  ion-thumbnail img {
    border-radius: 8px;
  }
  